@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Julius+Sans+One&display=swap');


.container {
    display: flex;
    padding-top: 20px;
}

.testCasesContainer {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  background-color: #ffffff;
}

.mainTabs {
  display: flex;
  background-color: #f8f8f8;
}

.tab {
  flex-grow: 1;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  
}

.tabSelected {
  background-color: #1976d2;
  color: #ffffff;
  border-bottom: 4px solid #0d47a1;
}

.testCasesContent, .testResultContent {
  padding: 20px;
  font-family: 'EB Garamond', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.inputGroup {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.testCaseLabel {
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  white-space: nowrap;
  margin-right: 10px;
}

.testCaseInput {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  padding: 8px 12px;
  resize: vertical;
  font-size: 16px;
}

.finalOutputLabel {
  font-size: 18px;
  color: #333333;
  margin-right: 10px;
  font-weight: 500;
}

.finalOutputValue {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 4px;
  font-family: 'Roboto', monospace;
  font-size: 14px;
  border: 1px solid #ddd;
  border-left: 4px solid #1976d2;
  color: #333;
}

.runTestCaseButton {
  height: 45px;
  padding: 10px 20px;
  background-color: #1976d2;
  align-self: center;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
}

.runTestCaseButton:hover {
  background-color: #1565c0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.runTestCaseButton:active {
  background-color: #0d47a1;
  box-shadow: none;
  transform: translateY(1px);
}

.multilineText > div {
  display: block;
}

