.leaderboard-page {
  .leaderboard-title {
    color: #1565c0; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .leaderboard-buttons {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .reload, .refresh {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .reload {
    background-color: #4285f4;
    color: #fff;
  
    &:hover {
      background-color: #1c5fac;
    }
  }
  
  .refresh {
    background-color: #34a853;
    color: #fff;
  
    &:hover {
      background-color: #1e7b41;
    }
  }

  .time-remaining {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    padding: 5px 15px;
    background-color: #808080;
    width: 23%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
  }
}
