.layout {
  display: flex;
}

.content {
  transition: margin-left 0.5s ease, width 0.5s ease;
  margin-left: 200px; /* Adjust based on your sidebar width */
  width: calc(100% - 200px); /* Ensure content takes up the remaining width */
  overflow-y: auto; /* Optional, for scrolling content */
}

.content.collapsed {
  margin-left: 80px; /* Adjust based on your collapsed sidebar width */
  width: calc(100% - 80px); /* Adjust width accordingly */
}