@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.styled-app-bar {
  background: #2757FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
}

.logo-icon {
  width: 190px;
  height: 45px;
  margin: 15px;
  transition: transform 0.3s ease-in-out;
}

.logo-icon:hover {
  animation: breathing 2s infinite;
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}


.flex-grow-box {
  display: flex;
  justify-content: center;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.nav-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  display: block;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}

.nav-button:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  }
  
  /* Icon styles */
  .icons-box {
  display: flex;
  align-items: center;
  }
  
  .icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
  position: relative;
  }
  
  .icon-button:hover {
  transform: scale(1.1);
  color: #bbdefb;
  }
  
  /* Hover effect for icons */
  .icon-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  }
  
  .icon-button:hover::after {
  opacity: 1;
  }

/* Responsive adjustments */
@media (max-width: 768px) {
.toolbar {
flex-direction: column;
}

.flex-grow-box {
flex-direction: column;
align-items: center;
}

.nav-button {
margin-bottom: 10px;
}
}