

.rankCell, .nameCell, .cell {
  padding: 12px 8px; 
  text-align: left;
}


.text-gold {
  color: #ffd700;
}

.text-silver {
  color: #c0c0c0;
}

.text-bronze {
  color: #cd7f32;
}

.rank1 {
  background-color: #fffbe5; 
}

.rank2 {
  background-color: #e3ffee;
}

.rank3 {
  background-color: #fff4e6; 
}

.standardRow {
  background-color: #fafafa; 
}

tr:hover {
  background-color: #f0f0f0;
}

.crownIcon {
  margin-right: 0.5rem; 
}

.sortIcon {
  margin-left: 0.25rem; 
}

.timeIcon {
  margin-right: 0.25rem;
}

th {
  background-color: #e2e8f0; 
  color: #333; 
  font-weight: 600; 
  padding: 10px 8px; 
}

table {
  width: 100%;
  border-collapse: collapse; 
}

td {
  padding: 12px 8px; 
  vertical-align: middle; 
}



@media (max-width: 640px) {
  .header,
  .rankCell,
  .nameCell,
  .cell {
    padding: 1vw 2vw; /* Adjust padding using vw units */
  }

  .analyticsButton {
    padding: 0.5vw 1vw; /* Adjust padding using vw units */
    font-size: sm; /* Use Tailwind text size utilities */
  }
}