/* Main container styles */
.container {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  max-width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  overflow-x: auto;
}

.submit {
  justify-content: space-between;
}

/* Styling for the title and buttons */
.title {
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.addButtonsContainer {
  display: flex;
  flex-direction: column;
}



.addButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
}

.exportButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.exportButton:hover {
  background-color: #006adb;
}

.addButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s, transform 0.1s;
}

.addButton:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.addButton:active {
  transform: translateY(1px);
}

