/* AddChallengeModal.module.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
  backdrop-filter: blur(5px); /* Create a blur effect on the background */
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
  cursor: pointer;
  animation: fadeIn 0.5s ease forwards; /* Fade-in effect for overlay */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modalContent {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  z-index: 2001;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 700px;
  height: 400px;
  transform: scale(0.5);
  animation: scaleIn 0.4s ease forwards; /* Scale-in effect for modal */
  border: 1px solid #000; /* Solid border for definition */
  overflow: hidden; /* Ensures nothing spills out of the border radius */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between;
}

@keyframes scaleIn {
  from { transform: scale(0.5); }
  to { transform: scale(1); }
}

.title {
  text-align: center;
  color: #007bff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
  margin-top: 20px;
}

.subtitle {
  text-align: left;
}

input[type="text"] {
  width: calc(100% - 20px);
  line-height: 2;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestions {
  list-style: none;
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  z-index: 2002;
  max-height: 150px;
  overflow-y: auto; /* Allows scrolling over suggestions */
  border-radius: 0 0 15px 15px; /* Rounded bottom edges */
}

.suggestions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions li:hover {
  background-color: #f7f7f7;
}

.add {
  width: 300px; /* Fixed width for the button */
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  align-self: center; /* Aligns the button to the center of flex container */
  margin-bottom: 20px; /* Space from the bottom */
}


.add:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.add:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

