.sidebar {
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 200px; /* Set the width of the sidebar */
  height: 100%; /* Full height */
  background-color: #f0f2f5;
  padding: 20px;
  transition: width 0.3s ease;
  z-index: 1000; /* Ensure it's above other content */
  transition: width 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoDashboard {
  width: 200px; /* Adjust as necessary */
  margin-bottom: 50px;
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.logoDashboard:hover {
  animation: breathing 2s ease-in-out infinite;
}

.navItem {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}

.navItem:hover {
  background-color: #eef4f7; /* Light background on hover */
}


.navItem svg {
  margin-right: 10px;
}


.logoutButton {
  background: linear-gradient(145deg, #030B57 0%, #0E43AB 100%);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
  display: flex;
  margin-top: 240px;
}

.sidebar.unCollapse {
  .logoutButton{
    animation: fadeIn 0.8s ease-in-out;
  }
  
}

.logoutButton svg {
  margin-right: 10px;
}



.sidebar.collapsed {
  width: 80px; /* Adjust the width for collapsed state */
  .logoDashboard{
    display: none;
  }
  .navItems {
    margin-top: 20px;
  }
  .toggleButton {
    margin-top: 60px;
  }
  .logoutButton {
    margin-top: 290px;
  }
}

.toggleButton {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
}

/* Adjust styles for nav-item and logout-button for collapsed state */
.navItem, .logoutButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .sidebar {
    width: 170px;
  }
  /* You might want to adjust the positioning of the toggleButton here as well */
}