.sidebar {
  width: 350px;
  background-color: #f0f2f5;
  padding: 20px;
}

.logo-dashboard {
  width: 100%; /* Adjust as necessary */
  margin-bottom: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.nav-item svg {
  margin-right: 10px;
}


.logout-button {
  background: linear-gradient(145deg, #030B57 0%, #0E43AB 100%);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
  margin-top: 300px;
  display: flex;
  align-items: center;
}

.logout-button svg {
  margin-right: 10px;
}