.titleSubmission {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.container {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  max-width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  overflow-x: auto;
}