// ContestChallenges.scss
.total-page {
  display: flex;

.contest-challenges {
  margin-top: 2rem;
  color: #0A192F;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #0D47A1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    // Responsive font-size for smaller screens
    @media (max-width: 768px) {
      font-size: 2rem; // Smaller font size for tablets
    }

    @media (max-width: 480px) {
      font-size: 1.5rem; // Even smaller font size for mobile phones
    }
  }

  .description {
    font-size: 1.1rem;
    color: #536D8A;
    margin-bottom: 2rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    // Adjust width for smaller screens to have more side padding
    @media (max-width: 768px) {
      max-width: 90%;
    }
  }

  .challenge-table-container {
    padding: 2rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2rem auto;

    // Adjust padding and margin for smaller screens
    @media (max-width: 768px) {
      padding: 1rem;
      margin: 1rem;
    }

    .MuiTableCell-root {
      padding: 1rem;
      color: #0A192F;

      // Reduce padding for smaller screens
      @media (max-width: 768px) {
        padding: 0.5rem;
      }
    }

    .MuiTableHead-root {
      .MuiTableCell-root {
        background-color: #2196F3;
        color: #fff;
      }
    }

    .MuiTableRow-root:hover {
      background-color: #E3F2FD;
    }
  }

  position: relative;
}
}
