@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300&family=Raleway:wght@300&display=swap');

.page-container {
  display: flex;
}

.contest-challenges {
  margin-top: 2rem;
  color: #0A192F;
}

.contest-challenges .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0D47A1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.contest-challenges .description {
  font-size: 1.1rem;
  color: #536D8A;
  margin-bottom: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contest-challenges .challenge-table-container {
  width: auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2rem auto;
  margin-left: auto;
  margin-right: auto;
}

.contest-challenges .add-button {
  position: fixed; /* Keeps the button fixed during scroll */
  right: 20px; /* Distance from the right edge of the viewport */
  bottom: 20px; /* Distance from the bottom edge of the viewport */
  padding: 10px 20px; /* Padding inside the button */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color inside the border: none; No border by default */
}

.contest-challenges .add-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for a 'lifted' effect */
  transform: translateY(-2px); /* Slightly raise the button on hover */
}

.contest-challenges .add-button:active {
  transform: translateY(1px); /* Pushes the button down a bit when clicked */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate 'pressing' */
}
